openapi: 3.2.0
info:
  title: Universal Control Plane Resource Management Azure…
  version: 2023-10-01-preview
  description: REST APIs for Universal Control Plane
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: AzureCredentials
paths:
  /planes/azure/{planeName}/providers/System.Azure/credentials:
    get:
      operationId: AzureCredentials_List
      tags:
      - AzureCredentials
      description: List Azure credentials
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/AzurePlaneNameParameter'
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureCredentialResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        List Azure Service Principal credentials:
          $ref: ./examples/AzureCredential_ServicePrincipal_List.json
        List Azure Workload Identity credentials:
          $ref: ./examples/AzureCredential_WorkloadIdentity_List.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure credentials list
      x-summary-source: derived
  /planes/azure/{planeName}/providers/System.Azure/credentials/{credentialName}:
    get:
      operationId: AzureCredentials_Get
      tags:
      - AzureCredentials
      description: Get an Azure credential
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/AzurePlaneNameParameter'
      - name: credentialName
        in: path
        description: The Azure credential name.
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureCredentialResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get an Azure Service Principal credential:
          $ref: ./examples/AzureCredential_ServicePrincipal_Get.json
        Get an Azure Workload Identity credential:
          $ref: ./examples/AzureCredential_WorkloadIdentity_Get.json
      summary: Azure credentials get
      x-summary-source: derived
    put:
      operationId: AzureCredentials_CreateOrUpdate
      tags:
      - AzureCredentials
      description: Create or update an Azure credential
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/AzurePlaneNameParameter'
      - name: credentialName
        in: path
        description: The Azure credential name.
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '200':
          description: Resource 'AzureCredentialResource' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureCredentialResource'
        '201':
          description: Resource 'AzureCredentialResource' create operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureCredentialResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Create or update an Azure Service Principal credential:
          $ref: ./examples/AzureCredential_ServicePrincipal_CreateOrUpdate.json
        Create or update an Azure Workload Identity credential:
          $ref: ./examples/AzureCredential_WorkloadIdentity_CreateOrUpdate.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AzureCredentialResource'
        description: Resource create parameters.
        required: true
      summary: Azure credentials create or update
      x-summary-source: derived
    patch:
      operationId: AzureCredentials_Update
      tags:
      - AzureCredentials
      description: Update an Azure credential
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/AzurePlaneNameParameter'
      - name: credentialName
        in: path
        description: The Azure credential name.
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureCredentialResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Update an Azure Service Principal credential:
          $ref: ./examples/AzureCredential_ServicePrincipal_Update.json
        Update an Azure Workload Identity credential:
          $ref: ./examples/AzureCredential_WorkloadIdentity_Update.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AzureCredentialResourceTagsUpdate'
        description: The resource properties to be updated.
        required: true
      summary: Azure credentials update
      x-summary-source: derived
    delete:
      operationId: AzureCredentials_Delete
      tags:
      - AzureCredentials
      description: Delete an Azure credential
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/AzurePlaneNameParameter'
      - name: credentialName
        in: path
        description: The Azure credential name.
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Delete an Azure Service Principal credential:
          $ref: ./examples/AzureCredential_ServicePrincipal_Delete.json
        Delete an Azure Workload Identity credential:
          $ref: ./examples/AzureCredential_WorkloadIdentity_Delete.json
      summary: Azure credentials delete
      x-summary-source: derived
components:
  parameters:
    AzurePlaneNameParameter:
      name: planeName
      in: path
      description: The name of the plane
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
        maxLength: 63
        pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
  schemas:
    ProvisioningState:
      type: string
      description: Provisioning state of the resource at the time the operation was called
      enum:
      - Creating
      - Updating
      - Deleting
      - Accepted
      - Provisioning
      - Succeeded
      - Failed
      - Canceled
      x-ms-enum:
        name: ProvisioningState
        modelAsString: false
        values:
        - name: Creating
          value: Creating
          description: The resource is being created
        - name: Updating
          value: Updating
          description: The resource is being updated
        - name: Deleting
          value: Deleting
          description: The resource is being deleted
        - name: Accepted
          value: Accepted
          description: The resource create request has been accepted
        - name: Provisioning
          value: Provisioning
          description: The resource is being provisioned
        - name: Succeeded
          value: Succeeded
          description: The resource has been successfully provisioned
        - name: Failed
          value: Failed
          description: The resource provisioning has failed
        - name: Canceled
          value: Canceled
          description: The resource provisioning has been canceled
      readOnly: true
    AzureCredentialResource:
      type: object
      description: Represents Azure Credential Resource
      properties:
        properties:
          $ref: '#/components/schemas/AzureCredentialProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      required:
      - properties
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
    AzureCredentialProperties:
      type: object
      description: The base properties of Azure Credential
      properties:
        kind:
          $ref: '#/components/schemas/AzureCredentialKind'
          description: The kind of Azure credential
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the asynchronous operation.
          readOnly: true
      discriminator:
        propertyName: kind
      required:
      - kind
    AzureCredentialResourceTagsUpdate:
      type: object
      description: The type used for updating tags in AzureCredentialResource resources.
      properties:
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
    AzureCredentialResourceListResult:
      type: object
      description: The response of a AzureCredentialResource list operation.
      properties:
        value:
          type: array
          description: The AzureCredentialResource items on this page
          items:
            $ref: '#/components/schemas/AzureCredentialResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    AzureCredentialKind:
      type: string
      description: Azure credential kinds supported.
      enum:
      - ServicePrincipal
      - WorkloadIdentity
      x-ms-enum:
        name: AzureCredentialKind
        modelAsString: false
        values:
        - name: ServicePrincipal
          value: ServicePrincipal
          description: The Service Principal Credential
        - name: WorkloadIdentity
          value: WorkloadIdentity
          description: The Workload Identity Credential
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
