openapi: 3.2.0
info:
  title: Applications.Core Management Volumes API
  version: 2023-10-01-preview
  description: REST APIs for Applications.Core
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Volumes
paths:
  /{rootScope}/providers/Applications.Core/volumes:
    get:
      operationId: Volumes_ListByScope
      tags:
      - Volumes
      description: List VolumeResource resources by Scope
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/RootScopeParameter'
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        List volumes by resource group:
          $ref: ./examples/Volumes_List.json
        List volumes by rootScope:
          $ref: ./examples/Volumes_ListByScope.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Volumes list by scope
      x-summary-source: derived
  /{rootScope}/providers/Applications.Core/volumes/{volumeName}:
    get:
      operationId: Volumes_Get
      tags:
      - Volumes
      description: Get a VolumeResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/RootScopeParameter'
      - name: volumeName
        in: path
        description: Volume name
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get a volume:
          $ref: ./examples/Volumes_Get.json
      summary: Volumes get
      x-summary-source: derived
    put:
      operationId: Volumes_CreateOrUpdate
      tags:
      - Volumes
      description: Create a VolumeResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/RootScopeParameter'
      - name: volumeName
        in: path
        description: Volume name
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '200':
          description: Resource 'VolumeResource' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeResource'
        '201':
          description: Resource 'VolumeResource' create operation succeeded
          headers:
            Azure-AsyncOperation:
              description: A link to the status monitor
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Create or update a volume:
          $ref: ./examples/Volumes_CreateOrUpdate.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VolumeResource'
        description: Resource create parameters.
        required: true
      summary: Volumes create or update
      x-summary-source: derived
    patch:
      operationId: Volumes_Update
      tags:
      - Volumes
      description: Update a VolumeResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/RootScopeParameter'
      - name: volumeName
        in: path
        description: Volume name
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeResource'
        '202':
          description: Resource update request accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Update a volume:
          $ref: ./examples/Volumes_Update.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VolumeResourceUpdate'
        description: The resource properties to be updated.
        required: true
      summary: Volumes update
      x-summary-source: derived
    delete:
      operationId: Volumes_Delete
      tags:
      - Volumes
      description: Delete a VolumeResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/RootScopeParameter'
      - name: volumeName
        in: path
        description: Volume name
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Delete a volume:
          $ref: ./examples/Volumes_Delete.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Volumes delete
      x-summary-source: derived
components:
  schemas:
    ProvisioningState:
      type: string
      description: Provisioning state of the resource at the time the operation was called
      enum:
      - Creating
      - Updating
      - Deleting
      - Accepted
      - Provisioning
      - Succeeded
      - Failed
      - Canceled
      x-ms-enum:
        name: ProvisioningState
        modelAsString: false
        values:
        - name: Creating
          value: Creating
          description: The resource is being created
        - name: Updating
          value: Updating
          description: The resource is being updated
        - name: Deleting
          value: Deleting
          description: The resource is being deleted
        - name: Accepted
          value: Accepted
          description: The resource create request has been accepted
        - name: Provisioning
          value: Provisioning
          description: The resource is being provisioned
        - name: Succeeded
          value: Succeeded
          description: The resource has been successfully provisioned
        - name: Failed
          value: Failed
          description: The resource provisioning has failed
        - name: Canceled
          value: Canceled
          description: The resource provisioning has been canceled
      readOnly: true
    EnvironmentCompute:
      type: object
      description: Represents backing compute resource
      properties:
        kind:
          type: string
          description: Discriminator property for EnvironmentCompute.
        resourceId:
          type: string
          description: The resource id of the compute resource for application environment.
        identity:
          $ref: '#/components/schemas/IdentitySettings'
          description: Configuration for supported external identity providers
      discriminator:
        propertyName: kind
      required:
      - kind
    IdentitySettingKind:
      type: string
      description: IdentitySettingKind is the kind of supported external identity setting
      enum:
      - undefined
      - azure.com.workload
      - userAssigned
      - systemAssigned
      - systemAssignedUserAssigned
      x-ms-enum:
        name: IdentitySettingKind
        modelAsString: false
        values:
        - name: undefined
          value: undefined
          description: undefined identity
        - name: azure.com.workload
          value: azure.com.workload
          description: azure ad workload identity
        - name: userAssigned
          value: userAssigned
          description: User assigned managed identity
        - name: systemAssigned
          value: systemAssigned
          description: System assigned managed identity
        - name: systemAssignedUserAssigned
          value: systemAssignedUserAssigned
          description: System assigned and user assigned managed identity
    VolumeResource:
      type: object
      description: Radius Volume resource.
      properties:
        properties:
          $ref: '#/components/schemas/VolumeProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      required:
      - properties
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
    VolumeProperties:
      type: object
      description: Volume properties
      properties:
        kind:
          type: string
          description: Discriminator property for VolumeProperties.
        environment:
          type: string
          description: Fully qualified resource ID for the environment that the application is linked to
        application:
          type: string
          description: Fully qualified resource ID for the application
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the asynchronous operation.
          readOnly: true
        status:
          $ref: '#/components/schemas/ResourceStatus'
          description: Status of a resource.
          readOnly: true
      discriminator:
        propertyName: kind
      required:
      - kind
      - application
    Azure.ResourceManager.CommonTypes.TrackedResourceUpdate:
      type: object
      title: Tracked Resource
      description: The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'
      properties:
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/Resource
    RecipeStatus:
      type: object
      description: Recipe status at deployment time for a resource.
      properties:
        templateKind:
          type: string
          description: TemplateKind is the kind of the recipe template used by the portable resource upon deployment.
        templatePath:
          type: string
          description: TemplatePath is the path of the recipe consumed by the portable resource upon deployment.
        templateVersion:
          type: string
          description: TemplateVersion is the version number of the template.
      required:
      - templateKind
      - templatePath
    VolumeResourceListResult:
      type: object
      description: The response of a VolumeResource list operation.
      properties:
        value:
          type: array
          description: The VolumeResource items on this page
          items:
            $ref: '#/components/schemas/VolumeResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    OutputResource:
      type: object
      description: Properties of an output resource.
      properties:
        localId:
          type: string
          description: The logical identifier scoped to the owning Radius resource. This is only needed or used when a resource has a dependency relationship. LocalIDs do not have any particular format or meaning beyond being compared to determine dependency relationships.
        id:
          type: string
          description: The UCP resource ID of the underlying resource.
        radiusManaged:
          type: boolean
          description: Determines whether Radius manages the lifecycle of the underlying resource.
    IdentitySettings:
      type: object
      description: IdentitySettings is the external identity setting.
      properties:
        kind:
          $ref: '#/components/schemas/IdentitySettingKind'
          description: kind of identity setting
        oidcIssuer:
          type: string
          description: The URI for your compute platform's OIDC issuer
        resource:
          type: string
          description: The resource ID of the provisioned identity
        managedIdentity:
          type: array
          description: The list of user assigned managed identities
          items:
            type: string
      required:
      - kind
    VolumeResourceUpdate:
      type: object
      description: Radius Volume resource.
      allOf:
      - $ref: '#/components/schemas/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate'
    ResourceStatus:
      type: object
      description: Status of a resource.
      properties:
        compute:
          $ref: '#/components/schemas/EnvironmentCompute'
          description: The compute resource associated with the resource.
        recipe:
          $ref: '#/components/schemas/RecipeStatus'
          description: The recipe data at the time of deployment
          readOnly: true
        outputResources:
          type: array
          description: Properties of an output resource
          items:
            $ref: '#/components/schemas/OutputResource'
          x-ms-identifiers: []
  parameters:
    RootScopeParameter:
      name: rootScope
      in: path
      description: The scope in which the resource is present. UCP Scope is /planes/{planeType}/{planeName}/resourceGroup/{resourcegroupID} and Azure resource scope is /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
      required: true
      x-ms-parameter-location: client
      x-ms-skip-url-encoding: true
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
