openapi: 3.2.0
info:
  title: Universal Control Plane Resource Management Resource Groups…
  version: 2023-10-01-preview
  description: REST APIs for Universal Control Plane
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Resource Groups
paths:
  /planes/radius/{planeName}/resourcegroups:
    get:
      operationId: ResourceGroups_List
      tags:
      - Resource Groups
      description: List resource groups
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - name: planeName
        in: path
        description: The plane name.
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroupResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        List resource groups:
          $ref: ./examples/ResourceGroups_List.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Resource groups list
      x-summary-source: derived
  /planes/radius/{planeName}/resourcegroups/{resourceGroupName}:
    get:
      operationId: ResourceGroups_Get
      tags:
      - Resource Groups
      description: Get a resource group
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - name: planeName
        in: path
        description: The plane name.
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      - name: resourceGroupName
        in: path
        description: The name of resource group
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroupResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get a resource group:
          $ref: ./examples/ResourceGroups_Get.json
      summary: Resource groups get
      x-summary-source: derived
    put:
      operationId: ResourceGroups_CreateOrUpdate
      tags:
      - Resource Groups
      description: Create or update a resource group
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - name: planeName
        in: path
        description: The plane name.
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      - name: resourceGroupName
        in: path
        description: The name of resource group
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '200':
          description: Resource 'ResourceGroupResource' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroupResource'
        '201':
          description: Resource 'ResourceGroupResource' create operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroupResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Create or update a resource group:
          $ref: ./examples/ResourceGroups_CreateOrUpdate.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceGroupResource'
        description: Resource create parameters.
        required: true
      summary: Resource groups create or update
      x-summary-source: derived
    patch:
      operationId: ResourceGroups_Update
      tags:
      - Resource Groups
      description: Update a resource group
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - name: planeName
        in: path
        description: The plane name.
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      - name: resourceGroupName
        in: path
        description: The name of resource group
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroupResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Update a resource group:
          $ref: ./examples/ResourceGroups_Update.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceGroupResourceTagsUpdate'
        description: The resource properties to be updated.
        required: true
      summary: Resource groups update
      x-summary-source: derived
    delete:
      operationId: ResourceGroups_Delete
      tags:
      - Resource Groups
      description: Delete a resource group
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - name: planeName
        in: path
        description: The plane name.
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      - name: resourceGroupName
        in: path
        description: The name of resource group
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Delete a resource group:
          $ref: ./examples/ResourceGroups_Delete.json
      summary: Resource groups delete
      x-summary-source: derived
components:
  schemas:
    ProvisioningState:
      type: string
      description: Provisioning state of the resource at the time the operation was called
      enum:
      - Creating
      - Updating
      - Deleting
      - Accepted
      - Provisioning
      - Succeeded
      - Failed
      - Canceled
      x-ms-enum:
        name: ProvisioningState
        modelAsString: false
        values:
        - name: Creating
          value: Creating
          description: The resource is being created
        - name: Updating
          value: Updating
          description: The resource is being updated
        - name: Deleting
          value: Deleting
          description: The resource is being deleted
        - name: Accepted
          value: Accepted
          description: The resource create request has been accepted
        - name: Provisioning
          value: Provisioning
          description: The resource is being provisioned
        - name: Succeeded
          value: Succeeded
          description: The resource has been successfully provisioned
        - name: Failed
          value: Failed
          description: The resource provisioning has failed
        - name: Canceled
          value: Canceled
          description: The resource provisioning has been canceled
      readOnly: true
    ResourceGroupProperties:
      type: object
      description: The resource group resource properties
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the asynchronous operation.
          readOnly: true
    ResourceGroupResourceListResult:
      type: object
      description: The response of a ResourceGroupResource list operation.
      properties:
        value:
          type: array
          description: The ResourceGroupResource items on this page
          items:
            $ref: '#/components/schemas/ResourceGroupResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    ResourceGroupResource:
      type: object
      description: The resource group resource
      properties:
        properties:
          $ref: '#/components/schemas/ResourceGroupProperties'
          description: The resource-specific properties for this resource.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
    ResourceGroupResourceTagsUpdate:
      type: object
      description: The type used for updating tags in ResourceGroupResource resources.
      properties:
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
