openapi: 3.2.0
info:
  title: Universal Control Plane Resource Management Resource Types…
  version: 2023-10-01-preview
  description: REST APIs for Universal Control Plane
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Resource Types
paths:
  /planes/radius/{planeName}/providers/System.Resources/resourceproviders/{resourceProviderName}/resourcetypes:
    get:
      operationId: ResourceTypes_List
      tags:
      - Resource Types
      description: List resource types.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - name: planeName
        in: path
        description: The plane name.
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      - name: resourceProviderName
        in: path
        description: 'The resource provider name. This is also the resource provider namespace. Example: ''Applications.Datastores''.'
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))\.([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))?$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceTypeResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        List resource types defined by a resource provider.:
          $ref: ./examples/ResourceTypes_List.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Resource types list
      x-summary-source: derived
  ? /planes/radius/{planeName}/providers/System.Resources/resourceproviders/{resourceProviderName}/resourcetypes/{resourceTypeName}
  : get:
      operationId: ResourceTypes_Get
      tags:
      - Resource Types
      description: Get the specified resource type.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - name: planeName
        in: path
        description: The plane name.
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      - name: resourceProviderName
        in: path
        description: 'The resource provider name. This is also the resource provider namespace. Example: ''Applications.Datastores''.'
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))\.([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))?$
      - name: resourceTypeName
        in: path
        description: The resource type name.
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceTypeResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Gets a resource type defined by a resource provider.:
          $ref: ./examples/ResourceTypes_Get.json
      summary: Resource types get
      x-summary-source: derived
    put:
      operationId: ResourceTypes_CreateOrUpdate
      tags:
      - Resource Types
      description: Create or update a resource type
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - name: planeName
        in: path
        description: The plane name.
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      - name: resourceProviderName
        in: path
        description: 'The resource provider name. This is also the resource provider namespace. Example: ''Applications.Datastores''.'
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))\.([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))?$
      - name: resourceTypeName
        in: path
        description: The resource type name.
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))$
      responses:
        '200':
          description: Resource 'ResourceTypeResource' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceTypeResource'
        '201':
          description: Resource 'ResourceTypeResource' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceTypeResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Create or update a resource type defined by a resource provider.:
          $ref: ./examples/ResourceTypes_CreateOrUpdate.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceTypeResource'
        description: Resource create parameters.
        required: true
      summary: Resource types create or update
      x-summary-source: derived
    delete:
      operationId: ResourceTypes_Delete
      tags:
      - Resource Types
      description: Delete a resource type
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - name: planeName
        in: path
        description: The plane name.
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      - name: resourceProviderName
        in: path
        description: 'The resource provider name. This is also the resource provider namespace. Example: ''Applications.Datastores''.'
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))\.([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))?$
      - name: resourceTypeName
        in: path
        description: The resource type name.
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))$
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Delete a resource type defined by a resource provider.:
          $ref: ./examples/ResourceTypes_Delete.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Resource types delete
      x-summary-source: derived
components:
  schemas:
    ProvisioningState:
      type: string
      description: Provisioning state of the resource at the time the operation was called
      enum:
      - Creating
      - Updating
      - Deleting
      - Accepted
      - Provisioning
      - Succeeded
      - Failed
      - Canceled
      x-ms-enum:
        name: ProvisioningState
        modelAsString: false
        values:
        - name: Creating
          value: Creating
          description: The resource is being created
        - name: Updating
          value: Updating
          description: The resource is being updated
        - name: Deleting
          value: Deleting
          description: The resource is being deleted
        - name: Accepted
          value: Accepted
          description: The resource create request has been accepted
        - name: Provisioning
          value: Provisioning
          description: The resource is being provisioned
        - name: Succeeded
          value: Succeeded
          description: The resource has been successfully provisioned
        - name: Failed
          value: Failed
          description: The resource provisioning has failed
        - name: Canceled
          value: Canceled
          description: The resource provisioning has been canceled
      readOnly: true
    ResourceTypeProperties:
      type: object
      description: The properties of a resource type.
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the asynchronous operation.
          readOnly: true
        capabilities:
          type: array
          description: The resource type capabilities.
          items:
            $ref: '#/components/schemas/Capability'
        defaultApiVersion:
          $ref: '#/components/schemas/ApiVersionNameString'
          description: The default api version for the resource type.
        description:
          type: string
          description: Description of the resource type.
    ResourceTypeResource:
      type: object
      description: The resource type for defining a resource type supported by the containing resource provider.
      properties:
        properties:
          $ref: '#/components/schemas/ResourceTypeProperties'
          description: The resource-specific properties for this resource.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    ResourceTypeResourceListResult:
      type: object
      description: The response of a ResourceTypeResource list operation.
      properties:
        value:
          type: array
          description: The ResourceTypeResource items on this page
          items:
            $ref: '#/components/schemas/ResourceTypeResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    ApiVersionNameString:
      type: string
      description: 'The resource type API version. Example: ''2023-10-01-preview''.'
      maxLength: 63
      pattern: ^\d{4}-\d{2}-\d{2}(-preview)?$
    Capability:
      type: string
      description: A capability defines the behaviors and features that a resource type supports.
      maxLength: 63
      pattern: ^[A-Za-z][A-Za-z0-9]*$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
