swagger: '2.0'
info:
  title: Applications.Core Management APIs ApiVersions PubSubBrokers API
  version: 2023-10-01-preview
  description: REST APIs for Applications.Core
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
host: management.azure.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- azure_auth:
  - user_impersonation
tags:
- name: PubSubBrokers
paths:
  /{rootScope}/providers/Applications.Dapr/pubSubBrokers:
    get:
      operationId: PubSubBrokers_ListByScope
      tags:
      - PubSubBrokers
      description: List DaprPubSubBrokerResource resources by Scope
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/parameters/RootScopeParameter'
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/DaprPubSubBrokerResourceListResult'
        default:
          description: An unexpected error response.
          schema:
            $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        List a PubSubBroker resource by resource group:
          $ref: ./examples/PubSubBrokers_List.json
        List a PubSubBroker resource by rootScope:
          $ref: ./examples/PubSubBrokers_ListByRootScope.json
      x-ms-pageable:
        nextLinkName: nextLink
  /{rootScope}/providers/Applications.Dapr/pubSubBrokers/{pubSubBrokerName}:
    get:
      operationId: PubSubBrokers_Get
      tags:
      - PubSubBrokers
      description: Get a DaprPubSubBrokerResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/parameters/RootScopeParameter'
      - name: pubSubBrokerName
        in: path
        description: PubSubBroker name
        required: true
        type: string
        maxLength: 63
        pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/DaprPubSubBrokerResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get a PubSubBroker resource:
          $ref: ./examples/PubSubBrokers_Get.json
    put:
      operationId: PubSubBrokers_CreateOrUpdate
      tags:
      - PubSubBrokers
      description: Create a DaprPubSubBrokerResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/parameters/RootScopeParameter'
      - name: pubSubBrokerName
        in: path
        description: PubSubBroker name
        required: true
        type: string
        maxLength: 63
        pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      - name: resource
        in: body
        description: Resource create parameters.
        required: true
        schema:
          $ref: '#/definitions/DaprPubSubBrokerResource'
      responses:
        '200':
          description: Resource 'DaprPubSubBrokerResource' update operation succeeded
          schema:
            $ref: '#/definitions/DaprPubSubBrokerResource'
        '201':
          description: Resource 'DaprPubSubBrokerResource' create operation succeeded
          schema:
            $ref: '#/definitions/DaprPubSubBrokerResource'
          headers:
            Azure-AsyncOperation:
              type: string
              description: A link to the status monitor
            Retry-After:
              type: integer
              format: int32
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
        default:
          description: An unexpected error response.
          schema:
            $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Create or update a PubSubBroker resource:
          $ref: ./examples/PubSubBrokers_CreateOrUpdate.json
        Create or update a PubSubBroker resource with recipe:
          $ref: ./examples/PubSubBrokers_CreateOrUpdateWithRecipe.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
    patch:
      operationId: PubSubBrokers_Update
      tags:
      - PubSubBrokers
      description: Update a DaprPubSubBrokerResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/parameters/RootScopeParameter'
      - name: pubSubBrokerName
        in: path
        description: PubSubBroker name
        required: true
        type: string
        maxLength: 63
        pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      - name: properties
        in: body
        description: The resource properties to be updated.
        required: true
        schema:
          $ref: '#/definitions/DaprPubSubBrokerResourceUpdate'
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/DaprPubSubBrokerResource'
        '202':
          description: Resource update request accepted.
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
            Retry-After:
              type: integer
              format: int32
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
        default:
          description: An unexpected error response.
          schema:
            $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Update a PubSubBroker resource:
          $ref: ./examples/PubSubBrokers_Update.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
    delete:
      operationId: PubSubBrokers_Delete
      tags:
      - PubSubBrokers
      description: Delete a DaprPubSubBrokerResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/parameters/RootScopeParameter'
      - name: pubSubBrokerName
        in: path
        description: PubSubBroker name
        required: true
        type: string
        maxLength: 63
        pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
            Retry-After:
              type: integer
              format: int32
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          schema:
            $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Delete a PubSubBroker resource:
          $ref: ./examples/PubSubBrokers_Delete.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
definitions:
  DaprPubSubBrokerResourceListResult:
    type: object
    description: The response of a DaprPubSubBrokerResource list operation.
    properties:
      value:
        type: array
        description: The DaprPubSubBrokerResource items on this page
        items:
          $ref: '#/definitions/DaprPubSubBrokerResource'
      nextLink:
        type: string
        format: uri
        description: The link to the next page of items
    required:
    - value
  DaprPubSubBrokerProperties:
    type: object
    description: Dapr PubSubBroker portable resource properties
    properties:
      environment:
        type: string
        description: Fully qualified resource ID for the environment that the portable resource is linked to
      application:
        type: string
        description: Fully qualified resource ID for the application that the portable resource is consumed by (if applicable)
      provisioningState:
        $ref: '#/definitions/ProvisioningState'
        description: The status of the asynchronous operation.
        readOnly: true
      status:
        $ref: '#/definitions/ResourceStatus'
        description: Status of a resource.
        readOnly: true
      componentName:
        type: string
        description: The name of the Dapr component object. Use this value in your code when interacting with the Dapr client to use the Dapr component.
        readOnly: true
      metadata:
        type: object
        description: The metadata for Dapr resource which must match the values specified in Dapr component spec
        additionalProperties:
          $ref: '#/definitions/MetadataValue'
      type:
        type: string
        description: Dapr component type which must matches the format used by Dapr Kubernetes configuration format
      version:
        type: string
        description: Dapr component version
      auth:
        $ref: '#/definitions/DaprResourceAuth'
        description: The name of the Dapr component to be used as a secret store
      resources:
        type: array
        description: A collection of references to resources associated with the pubSubBroker
        items:
          $ref: '#/definitions/ResourceReference'
      recipe:
        $ref: '#/definitions/Recipe'
        description: The recipe used to automatically deploy underlying infrastructure for the resource
      resourceProvisioning:
        $ref: '#/definitions/ResourceProvisioning'
        description: Specifies how the underlying service/resource is provisioned and managed.
    required:
    - environment
  RecipeStatus:
    type: object
    description: Recipe status at deployment time for a resource.
    properties:
      templateKind:
        type: string
        description: TemplateKind is the kind of the recipe template used by the portable resource upon deployment.
      templatePath:
        type: string
        description: TemplatePath is the path of the recipe consumed by the portable resource upon deployment.
      templateVersion:
        type: string
        description: TemplateVersion is the version number of the template.
    required:
    - templateKind
    - templatePath
  OutputResource:
    type: object
    description: Properties of an output resource.
    properties:
      localId:
        type: string
        description: The logical identifier scoped to the owning Radius resource. This is only needed or used when a resource has a dependency relationship. LocalIDs do not have any particular format or meaning beyond being compared to determine dependency relationships.
      id:
        type: string
        description: The UCP resource ID of the underlying resource.
      radiusManaged:
        type: boolean
        description: Determines whether Radius manages the lifecycle of the underlying resource.
  EnvironmentCompute:
    type: object
    description: Represents backing compute resource
    properties:
      kind:
        type: string
        description: Discriminator property for EnvironmentCompute.
      resourceId:
        type: string
        description: The resource id of the compute resource for application environment.
      identity:
        $ref: '#/definitions/IdentitySettings'
        description: Configuration for supported external identity providers
    discriminator: kind
    required:
    - kind
  IdentitySettingKind:
    type: string
    description: IdentitySettingKind is the kind of supported external identity setting
    enum:
    - undefined
    - azure.com.workload
    - userAssigned
    - systemAssigned
    - systemAssignedUserAssigned
    x-ms-enum:
      name: IdentitySettingKind
      modelAsString: false
      values:
      - name: undefined
        value: undefined
        description: undefined identity
      - name: azure.com.workload
        value: azure.com.workload
        description: azure ad workload identity
      - name: userAssigned
        value: userAssigned
        description: User assigned managed identity
      - name: systemAssigned
        value: systemAssigned
        description: System assigned managed identity
      - name: systemAssignedUserAssigned
        value: systemAssignedUserAssigned
        description: System assigned and user assigned managed identity
  MetadataValueFromSecret:
    type: object
    description: A reference of a value in a secret store component.
    properties:
      name:
        type: string
        description: Secret name in the secret store component
      key:
        type: string
        description: The field to select in the secret value. If the secret value is a string, it should be equal to the secret name
    required:
    - name
    - key
  DaprPubSubBrokerResourceUpdate:
    type: object
    description: Dapr PubSubBroker portable resource
    allOf:
    - $ref: '#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate'
  ResourceStatus:
    type: object
    description: Status of a resource.
    properties:
      compute:
        $ref: '#/definitions/EnvironmentCompute'
        description: The compute resource associated with the resource.
      recipe:
        $ref: '#/definitions/RecipeStatus'
        description: The recipe data at the time of deployment
        readOnly: true
      outputResources:
        type: array
        description: Properties of an output resource
        items:
          $ref: '#/definitions/OutputResource'
        x-ms-identifiers: []
  DaprPubSubBrokerResource:
    type: object
    description: Dapr PubSubBroker portable resource
    properties:
      properties:
        $ref: '#/definitions/DaprPubSubBrokerProperties'
        description: The resource-specific properties for this resource.
        x-ms-client-flatten: true
        x-ms-mutability:
        - read
        - create
    required:
    - properties
    allOf:
    - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
  ResourceProvisioning:
    type: string
    description: Specifies how the underlying service/resource is provisioned and managed. Available values are 'recipe', where Radius manages the lifecycle of the resource through a Recipe, and 'manual', where a user manages the resource and provides the values.
    enum:
    - recipe
    - manual
    x-ms-enum:
      name: ResourceProvisioning
      modelAsString: false
      values:
      - name: recipe
        value: recipe
        description: The resource lifecycle will be managed by Radius
      - name: manual
        value: manual
        description: The resource lifecycle will be managed by the user
  DaprResourceAuth:
    type: object
    description: Authentication properties for a Dapr component object
    properties:
      secretStore:
        type: string
        description: Secret store to fetch secrets from
  Recipe:
    type: object
    description: The recipe used to automatically deploy underlying infrastructure for a portable resource
    properties:
      name:
        type: string
        description: The name of the recipe within the environment to use
      parameters:
        type: object
        description: Key/value parameters to pass into the recipe at deployment
    required:
    - name
  Azure.ResourceManager.CommonTypes.TrackedResourceUpdate:
    type: object
    title: Tracked Resource
    description: The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'
    properties:
      tags:
        type: object
        description: Resource tags.
        additionalProperties:
          type: string
    allOf:
    - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/Resource
  ResourceReference:
    type: object
    description: Describes a reference to an existing resource
    properties:
      id:
        type: string
        description: Resource id of an existing resource
    required:
    - id
  ProvisioningState:
    type: string
    description: Provisioning state of the resource at the time the operation was called
    enum:
    - Creating
    - Updating
    - Deleting
    - Accepted
    - Provisioning
    - Succeeded
    - Failed
    - Canceled
    x-ms-enum:
      name: ProvisioningState
      modelAsString: false
      values:
      - name: Creating
        value: Creating
        description: The resource is being created
      - name: Updating
        value: Updating
        description: The resource is being updated
      - name: Deleting
        value: Deleting
        description: The resource is being deleted
      - name: Accepted
        value: Accepted
        description: The resource create request has been accepted
      - name: Provisioning
        value: Provisioning
        description: The resource is being provisioned
      - name: Succeeded
        value: Succeeded
        description: The resource has been successfully provisioned
      - name: Failed
        value: Failed
        description: The resource provisioning has failed
      - name: Canceled
        value: Canceled
        description: The resource provisioning has been canceled
    readOnly: true
  IdentitySettings:
    type: object
    description: IdentitySettings is the external identity setting.
    properties:
      kind:
        $ref: '#/definitions/IdentitySettingKind'
        description: kind of identity setting
      oidcIssuer:
        type: string
        description: The URI for your compute platform's OIDC issuer
      resource:
        type: string
        description: The resource ID of the provisioned identity
      managedIdentity:
        type: array
        description: The list of user assigned managed identities
        items:
          type: string
    required:
    - kind
  MetadataValue:
    type: object
    description: A single metadata for a Dapr component object
    properties:
      value:
        type: string
        description: The plain text value of the metadata
      secretKeyRef:
        $ref: '#/definitions/MetadataValueFromSecret'
        description: A reference of a value in a secret store component
parameters:
  RootScopeParameter:
    name: rootScope
    in: path
    description: The scope in which the resource is present. UCP Scope is /planes/{planeType}/{planeName}/resourceGroup/{resourcegroupID} and Azure resource scope is /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
    required: true
    type: string
    minLength: 1
    x-ms-parameter-location: client
    x-ms-skip-url-encoding: true
securityDefinitions:
  azure_auth:
    type: oauth2
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    scopes:
      user_impersonation: impersonate your user account
