openapi: 3.2.0
info:
  title: Universal Control Plane Resource Management Aws Credentials…
  version: 2023-10-01-preview
  description: REST APIs for Universal Control Plane
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: AwsCredentials
paths:
  /planes/aws/{planeName}/providers/System.AWS/credentials:
    get:
      operationId: AwsCredentials_List
      tags:
      - AwsCredentials
      description: List AWS credentials
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/AwsPlaneNameParameter'
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AwsCredentialResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        List AWS AccessKey credential:
          $ref: ./examples/AWSCredential_AccessKey_List.json
        List AWS IRSA credentials:
          $ref: ./examples/AWSCredential_IRSA_List.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Aws credentials list
      x-summary-source: derived
  /planes/aws/{planeName}/providers/System.AWS/credentials/{credentialName}:
    get:
      operationId: AwsCredentials_Get
      tags:
      - AwsCredentials
      description: Get an AWS credential
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/AwsPlaneNameParameter'
      - name: credentialName
        in: path
        description: The AWS credential name.
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AwsCredentialResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get an AWS AccessKey credential:
          $ref: ./examples/AWSCredential_AccessKey_Get.json
        Get an AWS IRSA credential:
          $ref: ./examples/AWSCredential_IRSA_Get.json
      summary: Aws credentials get
      x-summary-source: derived
    put:
      operationId: AwsCredentials_CreateOrUpdate
      tags:
      - AwsCredentials
      description: Create or update an AWS credential
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/AwsPlaneNameParameter'
      - name: credentialName
        in: path
        description: The AWS credential name.
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '200':
          description: Resource 'AwsCredentialResource' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AwsCredentialResource'
        '201':
          description: Resource 'AwsCredentialResource' create operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AwsCredentialResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Create or update an AWS AccessKey credential:
          $ref: ./examples/AWSCredential_AccessKey_CreateOrUpdate.json
        Create or update an AWS IRSA credential:
          $ref: ./examples/AWSCredential_IRSA_CreateOrUpdate.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AwsCredentialResource'
        description: Resource create parameters.
        required: true
      summary: Aws credentials create or update
      x-summary-source: derived
    patch:
      operationId: AwsCredentials_Update
      tags:
      - AwsCredentials
      description: Update an AWS credential
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/AwsPlaneNameParameter'
      - name: credentialName
        in: path
        description: The AWS credential name.
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AwsCredentialResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Update an AWS AccessKey credential:
          $ref: ./examples/AWSCredential_AccessKey_Update.json
        Update an AWS IRSA credential:
          $ref: ./examples/AWSCredential_IRSA_Update.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AwsCredentialResourceTagsUpdate'
        description: The resource properties to be updated.
        required: true
      summary: Aws credentials update
      x-summary-source: derived
    delete:
      operationId: AwsCredentials_Delete
      tags:
      - AwsCredentials
      description: Delete an AWS credential
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/AwsPlaneNameParameter'
      - name: credentialName
        in: path
        description: The AWS credential name.
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Delete an AWS AccessKey credential:
          $ref: ./examples/AWSCredential_AccessKey_Delete.json
        Delete an AWS IRSA credential:
          $ref: ./examples/AWSCredential_IRSA_Delete.json
      summary: Aws credentials delete
      x-summary-source: derived
components:
  schemas:
    ProvisioningState:
      type: string
      description: Provisioning state of the resource at the time the operation was called
      enum:
      - Creating
      - Updating
      - Deleting
      - Accepted
      - Provisioning
      - Succeeded
      - Failed
      - Canceled
      x-ms-enum:
        name: ProvisioningState
        modelAsString: false
        values:
        - name: Creating
          value: Creating
          description: The resource is being created
        - name: Updating
          value: Updating
          description: The resource is being updated
        - name: Deleting
          value: Deleting
          description: The resource is being deleted
        - name: Accepted
          value: Accepted
          description: The resource create request has been accepted
        - name: Provisioning
          value: Provisioning
          description: The resource is being provisioned
        - name: Succeeded
          value: Succeeded
          description: The resource has been successfully provisioned
        - name: Failed
          value: Failed
          description: The resource provisioning has failed
        - name: Canceled
          value: Canceled
          description: The resource provisioning has been canceled
      readOnly: true
    AWSCredentialKind:
      type: string
      description: AWS credential kind
      enum:
      - AccessKey
      - IRSA
      x-ms-enum:
        name: AWSCredentialKind
        modelAsString: false
        values:
        - name: AccessKey
          value: AccessKey
          description: The AWS Access Key credential
        - name: IRSA
          value: IRSA
          description: 'AWS IAM roles for service accounts. For more information, please see: https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html'
    AwsCredentialResource:
      type: object
      description: Concrete tracked resource types can be created by aliasing this type using a specific property type.
      properties:
        properties:
          $ref: '#/components/schemas/AwsCredentialProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      required:
      - properties
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
    AwsCredentialResourceTagsUpdate:
      type: object
      description: The type used for updating tags in AwsCredentialResource resources.
      properties:
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
    AwsCredentialResourceListResult:
      type: object
      description: The response of a AwsCredentialResource list operation.
      properties:
        value:
          type: array
          description: The AwsCredentialResource items on this page
          items:
            $ref: '#/components/schemas/AwsCredentialResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    AwsCredentialProperties:
      type: object
      description: AWS Credential properties
      properties:
        kind:
          $ref: '#/components/schemas/AWSCredentialKind'
          description: The AWS credential kind
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the asynchronous operation.
          readOnly: true
      discriminator:
        propertyName: kind
      required:
      - kind
  parameters:
    AwsPlaneNameParameter:
      name: planeName
      in: path
      description: The name of AWS plane
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
        maxLength: 63
        pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
