openapi: 3.2.0
info:
  title: Applications.Datastores Resource Management Redis Caches API
  version: 2023-10-01-preview
  description: REST APIs for Applications.Datastores
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: RedisCaches
paths:
  /{rootScope}/providers/Applications.Datastores/redisCaches:
    get:
      operationId: RedisCaches_ListByScope
      tags:
      - RedisCaches
      description: List RedisCacheResource resources by Scope
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/RootScopeParameter'
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisCacheResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        List RedisCache resources by resource group:
          $ref: ./examples/RedisCaches_List.json
        List RedisCache resources by rootScope:
          $ref: ./examples/RedisCaches_ListByRootScope.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Redis caches list by scope
      x-summary-source: derived
  /{rootScope}/providers/Applications.Datastores/redisCaches/{redisCacheName}:
    get:
      operationId: RedisCaches_Get
      tags:
      - RedisCaches
      description: Get a RedisCacheResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/RootScopeParameter'
      - name: redisCacheName
        in: path
        description: The name of the RedisCache portable resource resource
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisCacheResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get a RedisCache resource:
          $ref: ./examples/RedisCaches_Get.json
      summary: Redis caches get
      x-summary-source: derived
    put:
      operationId: RedisCaches_CreateOrUpdate
      tags:
      - RedisCaches
      description: Create a RedisCacheResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/RootScopeParameter'
      - name: redisCacheName
        in: path
        description: The name of the RedisCache portable resource resource
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '200':
          description: Resource 'RedisCacheResource' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisCacheResource'
        '201':
          description: Resource 'RedisCacheResource' create operation succeeded
          headers:
            Azure-AsyncOperation:
              description: A link to the status monitor
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisCacheResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Create or update a RedisCache resource:
          $ref: ./examples/RedisCaches_CreateOrUpdate.json
        Create or update a RedisCache resource with recipe:
          $ref: ./examples/RedisCaches_CreateOrUpdateRecipe.json
        Create or update a RedisCache resource with values:
          $ref: ./examples/RedisCaches_CreateOrUpdateValues.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedisCacheResource'
        description: Resource create parameters.
        required: true
      summary: Redis caches create or update
      x-summary-source: derived
    patch:
      operationId: RedisCaches_Update
      tags:
      - RedisCaches
      description: Update a RedisCacheResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/RootScopeParameter'
      - name: redisCacheName
        in: path
        description: The name of the RedisCache portable resource resource
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisCacheResource'
        '202':
          description: Resource update request accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Update a RedisCache resource:
          $ref: ./examples/RedisCaches_Update.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedisCacheResourceUpdate'
        description: The resource properties to be updated.
        required: true
      summary: Redis caches update
      x-summary-source: derived
    delete:
      operationId: RedisCaches_Delete
      tags:
      - RedisCaches
      description: Delete a RedisCacheResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/RootScopeParameter'
      - name: redisCacheName
        in: path
        description: The name of the RedisCache portable resource resource
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Delete a RedisCache resource:
          $ref: ./examples/RedisCaches_Delete.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Redis caches delete
      x-summary-source: derived
  /{rootScope}/providers/Applications.Datastores/redisCaches/{redisCacheName}/listSecrets:
    post:
      operationId: RedisCaches_ListSecrets
      tags:
      - RedisCaches
      description: Lists secrets values for the specified RedisCache resource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/RootScopeParameter'
      - name: redisCacheName
        in: path
        description: The name of the RedisCache portable resource resource
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisCacheListSecretsResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        List the secrets of a RedisCaches resource:
          $ref: ./examples/RedisCaches_ListSecrets.json
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: The content of the action request
        required: true
      summary: Redis caches list secrets
      x-summary-source: derived
components:
  schemas:
    OutputResource:
      type: object
      description: Properties of an output resource.
      properties:
        localId:
          type: string
          description: The logical identifier scoped to the owning Radius resource. This is only needed or used when a resource has a dependency relationship. LocalIDs do not have any particular format or meaning beyond being compared to determine dependency relationships.
        id:
          type: string
          description: The UCP resource ID of the underlying resource.
        radiusManaged:
          type: boolean
          description: Determines whether Radius manages the lifecycle of the underlying resource.
    Recipe:
      type: object
      description: The recipe used to automatically deploy underlying infrastructure for a portable resource
      properties:
        name:
          type: string
          description: The name of the recipe within the environment to use
        parameters:
          type: object
          description: Key/value parameters to pass into the recipe at deployment
      required:
      - name
    RedisCacheProperties:
      type: object
      description: RedisCache portable resource properties
      properties:
        environment:
          type: string
          description: Fully qualified resource ID for the environment that the portable resource is linked to
        application:
          type: string
          description: Fully qualified resource ID for the application that the portable resource is consumed by (if applicable)
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the asynchronous operation.
          readOnly: true
        status:
          $ref: '#/components/schemas/ResourceStatus'
          description: Status of a resource.
          readOnly: true
        secrets:
          $ref: '#/components/schemas/RedisCacheSecrets'
          description: Secrets provided by resource
        host:
          type: string
          description: The host name of the target Redis cache
        port:
          type: integer
          format: int32
          description: The port value of the target Redis cache
        username:
          type: string
          description: The username for Redis cache
        tls:
          type: boolean
          description: Specifies whether to enable SSL connections to the Redis cache
        resources:
          type: array
          description: List of the resource IDs that support the Redis resource
          items:
            $ref: '#/components/schemas/ResourceReference'
        recipe:
          $ref: '#/components/schemas/Recipe'
          description: The recipe used to automatically deploy underlying infrastructure for the resource
        resourceProvisioning:
          $ref: '#/components/schemas/ResourceProvisioning'
          description: Specifies how the underlying service/resource is provisioned and managed.
      required:
      - environment
    IdentitySettingKind:
      type: string
      description: IdentitySettingKind is the kind of supported external identity setting
      enum:
      - undefined
      - azure.com.workload
      - userAssigned
      - systemAssigned
      - systemAssignedUserAssigned
      x-ms-enum:
        name: IdentitySettingKind
        modelAsString: false
        values:
        - name: undefined
          value: undefined
          description: undefined identity
        - name: azure.com.workload
          value: azure.com.workload
          description: azure ad workload identity
        - name: userAssigned
          value: userAssigned
          description: User assigned managed identity
        - name: systemAssigned
          value: systemAssigned
          description: System assigned managed identity
        - name: systemAssignedUserAssigned
          value: systemAssignedUserAssigned
          description: System assigned and user assigned managed identity
    ProvisioningState:
      type: string
      description: Provisioning state of the resource at the time the operation was called
      enum:
      - Creating
      - Updating
      - Deleting
      - Accepted
      - Provisioning
      - Succeeded
      - Failed
      - Canceled
      x-ms-enum:
        name: ProvisioningState
        modelAsString: false
        values:
        - name: Creating
          value: Creating
          description: The resource is being created
        - name: Updating
          value: Updating
          description: The resource is being updated
        - name: Deleting
          value: Deleting
          description: The resource is being deleted
        - name: Accepted
          value: Accepted
          description: The resource create request has been accepted
        - name: Provisioning
          value: Provisioning
          description: The resource is being provisioned
        - name: Succeeded
          value: Succeeded
          description: The resource has been successfully provisioned
        - name: Failed
          value: Failed
          description: The resource provisioning has failed
        - name: Canceled
          value: Canceled
          description: The resource provisioning has been canceled
      readOnly: true
    Azure.ResourceManager.CommonTypes.TrackedResourceUpdate:
      type: object
      title: Tracked Resource
      description: The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'
      properties:
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/Resource
    RedisCacheResourceUpdate:
      type: object
      description: RedisCache portable resource
      allOf:
      - $ref: '#/components/schemas/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate'
    RecipeStatus:
      type: object
      description: Recipe status at deployment time for a resource.
      properties:
        templateKind:
          type: string
          description: TemplateKind is the kind of the recipe template used by the portable resource upon deployment.
        templatePath:
          type: string
          description: TemplatePath is the path of the recipe consumed by the portable resource upon deployment.
        templateVersion:
          type: string
          description: TemplateVersion is the version number of the template.
      required:
      - templateKind
      - templatePath
    RedisCacheSecrets:
      type: object
      description: The secret values for the given RedisCache resource
      properties:
        connectionString:
          type: string
          description: The connection string used to connect to the Redis cache
        password:
          type: string
          description: The password for this Redis cache instance
        url:
          type: string
          description: The URL used to connect to the Redis cache
    RedisCacheResourceListResult:
      type: object
      description: The response of a RedisCacheResource list operation.
      properties:
        value:
          type: array
          description: The RedisCacheResource items on this page
          items:
            $ref: '#/components/schemas/RedisCacheResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    EnvironmentCompute:
      type: object
      description: Represents backing compute resource
      properties:
        kind:
          type: string
          description: Discriminator property for EnvironmentCompute.
        resourceId:
          type: string
          description: The resource id of the compute resource for application environment.
        identity:
          $ref: '#/components/schemas/IdentitySettings'
          description: Configuration for supported external identity providers
      discriminator:
        propertyName: kind
      required:
      - kind
    ResourceStatus:
      type: object
      description: Status of a resource.
      properties:
        compute:
          $ref: '#/components/schemas/EnvironmentCompute'
          description: The compute resource associated with the resource.
        recipe:
          $ref: '#/components/schemas/RecipeStatus'
          description: The recipe data at the time of deployment
          readOnly: true
        outputResources:
          type: array
          description: Properties of an output resource
          items:
            $ref: '#/components/schemas/OutputResource'
          x-ms-identifiers: []
    RedisCacheResource:
      type: object
      description: RedisCache portable resource
      properties:
        properties:
          $ref: '#/components/schemas/RedisCacheProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      required:
      - properties
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
    ResourceReference:
      type: object
      description: Describes a reference to an existing resource
      properties:
        id:
          type: string
          description: Resource id of an existing resource
      required:
      - id
    IdentitySettings:
      type: object
      description: IdentitySettings is the external identity setting.
      properties:
        kind:
          $ref: '#/components/schemas/IdentitySettingKind'
          description: kind of identity setting
        oidcIssuer:
          type: string
          description: The URI for your compute platform's OIDC issuer
        resource:
          type: string
          description: The resource ID of the provisioned identity
        managedIdentity:
          type: array
          description: The list of user assigned managed identities
          items:
            type: string
      required:
      - kind
    ResourceProvisioning:
      type: string
      description: Specifies how the underlying service/resource is provisioned and managed. Available values are 'recipe', where Radius manages the lifecycle of the resource through a Recipe, and 'manual', where a user manages the resource and provides the values.
      enum:
      - recipe
      - manual
      x-ms-enum:
        name: ResourceProvisioning
        modelAsString: false
        values:
        - name: recipe
          value: recipe
          description: The resource lifecycle will be managed by Radius
        - name: manual
          value: manual
          description: The resource lifecycle will be managed by the user
    RedisCacheListSecretsResult:
      type: object
      description: The secret values for the given RedisCache resource
      properties:
        connectionString:
          type: string
          description: The connection string used to connect to the Redis cache
        password:
          type: string
          description: The password for this Redis cache instance
        url:
          type: string
          description: The URL used to connect to the Redis cache
  parameters:
    RootScopeParameter:
      name: rootScope
      in: path
      description: The scope in which the resource is present. UCP Scope is /planes/{planeType}/{planeName}/resourceGroup/{resourcegroupID} and Azure resource scope is /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
      required: true
      x-ms-parameter-location: client
      x-ms-skip-url-encoding: true
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
