swagger: '2.0'
info:
  title: Applications.Core Management APIs ApiVersions API
  version: 2023-10-01-preview
  description: REST APIs for Applications.Core
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
host: management.azure.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- azure_auth:
  - user_impersonation
tags:
- name: ApiVersions
paths:
  ? /planes/radius/{planeName}/providers/System.Resources/resourceproviders/{resourceProviderName}/resourcetypes/{resourceTypeName}/apiversions
  : get:
      operationId: ApiVersions_List
      tags:
      - ApiVersions
      description: List API versions.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - name: planeName
        in: path
        description: The plane name.
        required: true
        type: string
        maxLength: 63
        pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      - name: resourceProviderName
        in: path
        description: 'The resource provider name. This is also the resource provider namespace. Example: ''Applications.Datastores''.'
        required: true
        type: string
        maxLength: 63
        pattern: ^([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))\.([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))?$
      - name: resourceTypeName
        in: path
        description: The resource type name.
        required: true
        type: string
        maxLength: 63
        pattern: ^([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))$
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/ApiVersionResourceListResult'
        default:
          description: An unexpected error response.
          schema:
            $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        List api versions defined by a resource type supported by a resource provider.:
          $ref: ./examples/ApiVersions_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /planes/radius/{planeName}/providers/System.Resources/resourceproviders/{resourceProviderName}/resourcetypes/{resourceTypeName}/apiversions/{apiVersionName}
  : get:
      operationId: ApiVersions_Get
      tags:
      - ApiVersions
      description: Get the specified API version.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - name: planeName
        in: path
        description: The plane name.
        required: true
        type: string
        maxLength: 63
        pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      - name: resourceProviderName
        in: path
        description: 'The resource provider name. This is also the resource provider namespace. Example: ''Applications.Datastores''.'
        required: true
        type: string
        maxLength: 63
        pattern: ^([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))\.([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))?$
      - name: resourceTypeName
        in: path
        description: The resource type name.
        required: true
        type: string
        maxLength: 63
        pattern: ^([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))$
      - name: apiVersionName
        in: path
        description: The API version name.
        required: true
        type: string
        maxLength: 63
        pattern: ^\d{4}-\d{2}-\d{2}(-preview)?$
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/ApiVersionResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get an api version defined by a resource type supported by a resource provider.:
          $ref: ./examples/ApiVersions_Get.json
    put:
      operationId: ApiVersions_CreateOrUpdate
      tags:
      - ApiVersions
      description: Create or update an API version.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - name: planeName
        in: path
        description: The plane name.
        required: true
        type: string
        maxLength: 63
        pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      - name: resourceProviderName
        in: path
        description: 'The resource provider name. This is also the resource provider namespace. Example: ''Applications.Datastores''.'
        required: true
        type: string
        maxLength: 63
        pattern: ^([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))\.([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))?$
      - name: resourceTypeName
        in: path
        description: The resource type name.
        required: true
        type: string
        maxLength: 63
        pattern: ^([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))$
      - name: apiVersionName
        in: path
        description: The API version name.
        required: true
        type: string
        maxLength: 63
        pattern: ^\d{4}-\d{2}-\d{2}(-preview)?$
      - name: resource
        in: body
        description: Resource create parameters.
        required: true
        schema:
          $ref: '#/definitions/ApiVersionResource'
      responses:
        '200':
          description: Resource 'ApiVersionResource' update operation succeeded
          schema:
            $ref: '#/definitions/ApiVersionResource'
        '201':
          description: Resource 'ApiVersionResource' create operation succeeded
          schema:
            $ref: '#/definitions/ApiVersionResource'
          headers:
            Retry-After:
              type: integer
              format: int32
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
        default:
          description: An unexpected error response.
          schema:
            $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Create or update an api version defined by a resource type supported by a resource provider.:
          $ref: ./examples/ApiVersions_CreateOrUpdate.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
    delete:
      operationId: ApiVersions_Delete
      tags:
      - ApiVersions
      description: Delete an API version.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - name: planeName
        in: path
        description: The plane name.
        required: true
        type: string
        maxLength: 63
        pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      - name: resourceProviderName
        in: path
        description: 'The resource provider name. This is also the resource provider namespace. Example: ''Applications.Datastores''.'
        required: true
        type: string
        maxLength: 63
        pattern: ^([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))\.([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))?$
      - name: resourceTypeName
        in: path
        description: The resource type name.
        required: true
        type: string
        maxLength: 63
        pattern: ^([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))$
      - name: apiVersionName
        in: path
        description: The API version name.
        required: true
        type: string
        maxLength: 63
        pattern: ^\d{4}-\d{2}-\d{2}(-preview)?$
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
            Retry-After:
              type: integer
              format: int32
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          schema:
            $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Delete an api version of a resource type supported by a resource provider.:
          $ref: ./examples/ApiVersions_Delete.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
definitions:
  ApiVersionResource:
    type: object
    description: The resource type for defining an API version of a resource type supported by the containing resource provider.
    properties:
      properties:
        $ref: '#/definitions/ApiVersionProperties'
        description: The resource-specific properties for this resource.
    allOf:
    - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
  ApiVersionResourceListResult:
    type: object
    description: The response of a ApiVersionResource list operation.
    properties:
      value:
        type: array
        description: The ApiVersionResource items on this page
        items:
          $ref: '#/definitions/ApiVersionResource'
      nextLink:
        type: string
        format: uri
        description: The link to the next page of items
    required:
    - value
  ApiVersionProperties:
    type: object
    description: The properties of an API version.
    properties:
      provisioningState:
        $ref: '#/definitions/ProvisioningState'
        description: The status of the asynchronous operation.
        readOnly: true
      schema:
        type: object
        description: Schema is the schema for the resource type.
        additionalProperties: {}
  ProvisioningState:
    type: string
    description: Provisioning state of the resource at the time the operation was called
    enum:
    - Creating
    - Updating
    - Deleting
    - Accepted
    - Provisioning
    - Succeeded
    - Failed
    - Canceled
    x-ms-enum:
      name: ProvisioningState
      modelAsString: false
      values:
      - name: Creating
        value: Creating
        description: The resource is being created
      - name: Updating
        value: Updating
        description: The resource is being updated
      - name: Deleting
        value: Deleting
        description: The resource is being deleted
      - name: Accepted
        value: Accepted
        description: The resource create request has been accepted
      - name: Provisioning
        value: Provisioning
        description: The resource is being provisioned
      - name: Succeeded
        value: Succeeded
        description: The resource has been successfully provisioned
      - name: Failed
        value: Failed
        description: The resource provisioning has failed
      - name: Canceled
        value: Canceled
        description: The resource provisioning has been canceled
    readOnly: true
securityDefinitions:
  azure_auth:
    type: oauth2
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    scopes:
      user_impersonation: impersonate your user account
