swagger: '2.0'
info:
  title: .Core Management APIs ApiVersions Applications API
  version: 2023-10-01-preview
  description: REST APIs for Applications.Core
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
host: management.azure.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- azure_auth:
  - user_impersonation
tags:
- name: Applications
paths:
  /{rootScope}/providers/Applications.Core/applications:
    get:
      operationId: Applications_ListByScope
      tags:
      - Applications
      description: List ApplicationResource resources by Scope
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/parameters/RootScopeParameter'
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/ApplicationResourceListResult'
        default:
          description: An unexpected error response.
          schema:
            $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get applications by resource group:
          $ref: ./examples/Applications_List.json
        Get applications by rootScope:
          $ref: ./examples/Applications_ListByScope.json
      x-ms-pageable:
        nextLinkName: nextLink
  /{rootScope}/providers/Applications.Core/applications/{applicationName}:
    get:
      operationId: Applications_Get
      tags:
      - Applications
      description: Get a ApplicationResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/parameters/RootScopeParameter'
      - name: applicationName
        in: path
        description: The application name
        required: true
        type: string
        maxLength: 63
        pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/ApplicationResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get an application resource:
          $ref: ./examples/Applications_Get.json
    put:
      operationId: Applications_CreateOrUpdate
      tags:
      - Applications
      description: Create a ApplicationResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/parameters/RootScopeParameter'
      - name: applicationName
        in: path
        description: The application name
        required: true
        type: string
        maxLength: 63
        pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      - name: resource
        in: body
        description: Resource create parameters.
        required: true
        schema:
          $ref: '#/definitions/ApplicationResource'
      responses:
        '200':
          description: Resource 'ApplicationResource' update operation succeeded
          schema:
            $ref: '#/definitions/ApplicationResource'
        '201':
          description: Resource 'ApplicationResource' create operation succeeded
          schema:
            $ref: '#/definitions/ApplicationResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Create or update an application resource:
          $ref: ./examples/Applications_CreateOrUpdate.json
    patch:
      operationId: Applications_Update
      tags:
      - Applications
      description: Update a ApplicationResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/parameters/RootScopeParameter'
      - name: applicationName
        in: path
        description: The application name
        required: true
        type: string
        maxLength: 63
        pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      - name: properties
        in: body
        description: The resource properties to be updated.
        required: true
        schema:
          $ref: '#/definitions/ApplicationResourceUpdate'
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/ApplicationResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Update (Patch) an application resource:
          $ref: ./examples/Applications_Update.json
    delete:
      operationId: Applications_Delete
      tags:
      - Applications
      description: Delete a ApplicationResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/parameters/RootScopeParameter'
      - name: applicationName
        in: path
        description: The application name
        required: true
        type: string
        maxLength: 63
        pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          schema:
            $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Delete an application resource:
          $ref: ./examples/Applications_Delete.json
  /{rootScope}/providers/Applications.Core/applications/{applicationName}/getGraph:
    post:
      operationId: Applications_GetGraph
      tags:
      - Applications
      description: Gets the application graph and resources.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/parameters/RootScopeParameter'
      - name: applicationName
        in: path
        description: The application name
        required: true
        type: string
        maxLength: 63
        pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      - name: body
        in: body
        description: The content of the action request
        required: true
        schema:
          type: object
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/ApplicationGraphResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
definitions:
  ApplicationResourceListResult:
    type: object
    description: The response of a ApplicationResource list operation.
    properties:
      value:
        type: array
        description: The ApplicationResource items on this page
        items:
          $ref: '#/definitions/ApplicationResource'
      nextLink:
        type: string
        format: uri
        description: The link to the next page of items
    required:
    - value
  RecipeStatus:
    type: object
    description: Recipe status at deployment time for a resource.
    properties:
      templateKind:
        type: string
        description: TemplateKind is the kind of the recipe template used by the portable resource upon deployment.
      templatePath:
        type: string
        description: TemplatePath is the path of the recipe consumed by the portable resource upon deployment.
      templateVersion:
        type: string
        description: TemplateVersion is the version number of the template.
    required:
    - templateKind
    - templatePath
  OutputResource:
    type: object
    description: Properties of an output resource.
    properties:
      localId:
        type: string
        description: The logical identifier scoped to the owning Radius resource. This is only needed or used when a resource has a dependency relationship. LocalIDs do not have any particular format or meaning beyond being compared to determine dependency relationships.
      id:
        type: string
        description: The UCP resource ID of the underlying resource.
      radiusManaged:
        type: boolean
        description: Determines whether Radius manages the lifecycle of the underlying resource.
  EnvironmentCompute:
    type: object
    description: Represents backing compute resource
    properties:
      kind:
        type: string
        description: Discriminator property for EnvironmentCompute.
      resourceId:
        type: string
        description: The resource id of the compute resource for application environment.
      identity:
        $ref: '#/definitions/IdentitySettings'
        description: Configuration for supported external identity providers
    discriminator: kind
    required:
    - kind
  ApplicationGraphOutputResource:
    type: object
    description: Describes an output resource that comprises an application graph resource.
    properties:
      id:
        type: string
        description: The resource ID.
      type:
        type: string
        description: The resource type.
      name:
        type: string
        description: The resource name.
    required:
    - id
    - type
    - name
  IdentitySettingKind:
    type: string
    description: IdentitySettingKind is the kind of supported external identity setting
    enum:
    - undefined
    - azure.com.workload
    - userAssigned
    - systemAssigned
    - systemAssignedUserAssigned
    x-ms-enum:
      name: IdentitySettingKind
      modelAsString: false
      values:
      - name: undefined
        value: undefined
        description: undefined identity
      - name: azure.com.workload
        value: azure.com.workload
        description: azure ad workload identity
      - name: userAssigned
        value: userAssigned
        description: User assigned managed identity
      - name: systemAssigned
        value: systemAssigned
        description: System assigned managed identity
      - name: systemAssignedUserAssigned
        value: systemAssignedUserAssigned
        description: System assigned and user assigned managed identity
  ApplicationResourceUpdate:
    type: object
    description: Radius Application resource
    allOf:
    - $ref: '#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate'
  ApplicationProperties:
    type: object
    description: Application properties
    properties:
      provisioningState:
        $ref: '#/definitions/ProvisioningState'
        description: The status of the asynchronous operation.
        readOnly: true
      environment:
        type: string
        description: Fully qualified resource ID for the environment that the application is linked to
      extensions:
        type: array
        description: The application extension.
        items:
          $ref: '#/definitions/Extension'
        x-ms-identifiers: []
      status:
        $ref: '#/definitions/ResourceStatus'
        description: Status of a resource.
        readOnly: true
    required:
    - environment
  ResourceStatus:
    type: object
    description: Status of a resource.
    properties:
      compute:
        $ref: '#/definitions/EnvironmentCompute'
        description: The compute resource associated with the resource.
      recipe:
        $ref: '#/definitions/RecipeStatus'
        description: The recipe data at the time of deployment
        readOnly: true
      outputResources:
        type: array
        description: Properties of an output resource
        items:
          $ref: '#/definitions/OutputResource'
        x-ms-identifiers: []
  ApplicationGraphResponse:
    type: object
    description: Describes the application architecture and its dependencies.
    properties:
      resources:
        type: array
        description: The resources in the application graph.
        items:
          $ref: '#/definitions/ApplicationGraphResource'
        x-ms-identifiers:
        - id
    required:
    - resources
  Azure.ResourceManager.CommonTypes.TrackedResourceUpdate:
    type: object
    title: Tracked Resource
    description: The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'
    properties:
      tags:
        type: object
        description: Resource tags.
        additionalProperties:
          type: string
    allOf:
    - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/Resource
  Direction:
    type: string
    description: The direction of a connection.
    enum:
    - Outbound
    - Inbound
    x-ms-enum:
      name: Direction
      modelAsString: false
      values:
      - name: Outbound
        value: Outbound
        description: The resource defining this connection makes an outbound connection resource specified by this id.
      - name: Inbound
        value: Inbound
        description: The resource defining this connection accepts inbound connections from the resource specified by this id.
  ApplicationGraphResource:
    type: object
    description: Describes a resource in the application graph.
    properties:
      id:
        type: string
        description: The resource ID.
      type:
        type: string
        description: The resource type.
      name:
        type: string
        description: The resource name.
      outputResources:
        type: array
        description: The resources that comprise this resource.
        items:
          $ref: '#/definitions/ApplicationGraphOutputResource'
        x-ms-identifiers:
        - id
      connections:
        type: array
        description: The connections between resources in the application graph.
        items:
          $ref: '#/definitions/ApplicationGraphConnection'
        x-ms-identifiers: []
      provisioningState:
        type: string
        description: provisioningState of this resource.
    required:
    - id
    - type
    - name
    - outputResources
    - connections
    - provisioningState
  ApplicationResource:
    type: object
    description: Radius Application resource
    properties:
      properties:
        $ref: '#/definitions/ApplicationProperties'
        description: The resource-specific properties for this resource.
        x-ms-client-flatten: true
        x-ms-mutability:
        - read
        - create
    required:
    - properties
    allOf:
    - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
  ApplicationGraphConnection:
    type: object
    description: Describes the connection between two resources.
    properties:
      id:
        type: string
        description: 'The resource ID '
      direction:
        $ref: '#/definitions/Direction'
        description: The direction of the connection. 'Outbound' indicates this connection specifies the ID of the destination and 'Inbound' indicates indicates this connection specifies the ID of the source.
    required:
    - id
    - direction
  ProvisioningState:
    type: string
    description: Provisioning state of the resource at the time the operation was called
    enum:
    - Creating
    - Updating
    - Deleting
    - Accepted
    - Provisioning
    - Succeeded
    - Failed
    - Canceled
    x-ms-enum:
      name: ProvisioningState
      modelAsString: false
      values:
      - name: Creating
        value: Creating
        description: The resource is being created
      - name: Updating
        value: Updating
        description: The resource is being updated
      - name: Deleting
        value: Deleting
        description: The resource is being deleted
      - name: Accepted
        value: Accepted
        description: The resource create request has been accepted
      - name: Provisioning
        value: Provisioning
        description: The resource is being provisioned
      - name: Succeeded
        value: Succeeded
        description: The resource has been successfully provisioned
      - name: Failed
        value: Failed
        description: The resource provisioning has failed
      - name: Canceled
        value: Canceled
        description: The resource provisioning has been canceled
    readOnly: true
  IdentitySettings:
    type: object
    description: IdentitySettings is the external identity setting.
    properties:
      kind:
        $ref: '#/definitions/IdentitySettingKind'
        description: kind of identity setting
      oidcIssuer:
        type: string
        description: The URI for your compute platform's OIDC issuer
      resource:
        type: string
        description: The resource ID of the provisioned identity
      managedIdentity:
        type: array
        description: The list of user assigned managed identities
        items:
          type: string
    required:
    - kind
  Extension:
    type: object
    description: Extension of a environment/application resource.
    properties:
      kind:
        type: string
        description: Discriminator property for Extension.
    discriminator: kind
    required:
    - kind
parameters:
  RootScopeParameter:
    name: rootScope
    in: path
    description: The scope in which the resource is present. UCP Scope is /planes/{planeType}/{planeName}/resourceGroup/{resourcegroupID} and Azure resource scope is /subscriptions/{subscriptionID}/resourceGroup/{resourcegroupID}
    required: true
    type: string
    minLength: 1
    x-ms-parameter-location: client
    x-ms-skip-url-encoding: true
securityDefinitions:
  azure_auth:
    type: oauth2
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    scopes:
      user_impersonation: impersonate your user account
