swagger: '2.0'
info:
  title: Applications.Core Management APIs ApiVersions AzureCredentials API
  version: 2023-10-01-preview
  description: REST APIs for Applications.Core
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
host: management.azure.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- azure_auth:
  - user_impersonation
tags:
- name: AzureCredentials
paths:
  /planes/azure/{planeName}/providers/System.Azure/credentials:
    get:
      operationId: AzureCredentials_List
      tags:
      - AzureCredentials
      description: List Azure credentials
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/parameters/AzurePlaneNameParameter'
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/AzureCredentialResourceListResult'
        default:
          description: An unexpected error response.
          schema:
            $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        List Azure Service Principal credentials:
          $ref: ./examples/AzureCredential_ServicePrincipal_List.json
        List Azure Workload Identity credentials:
          $ref: ./examples/AzureCredential_WorkloadIdentity_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  /planes/azure/{planeName}/providers/System.Azure/credentials/{credentialName}:
    get:
      operationId: AzureCredentials_Get
      tags:
      - AzureCredentials
      description: Get an Azure credential
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/parameters/AzurePlaneNameParameter'
      - name: credentialName
        in: path
        description: The Azure credential name.
        required: true
        type: string
        maxLength: 63
        pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/AzureCredentialResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get an Azure Service Principal credential:
          $ref: ./examples/AzureCredential_ServicePrincipal_Get.json
        Get an Azure Workload Identity credential:
          $ref: ./examples/AzureCredential_WorkloadIdentity_Get.json
    put:
      operationId: AzureCredentials_CreateOrUpdate
      tags:
      - AzureCredentials
      description: Create or update an Azure credential
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/parameters/AzurePlaneNameParameter'
      - name: credentialName
        in: path
        description: The Azure credential name.
        required: true
        type: string
        maxLength: 63
        pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      - name: resource
        in: body
        description: Resource create parameters.
        required: true
        schema:
          $ref: '#/definitions/AzureCredentialResource'
      responses:
        '200':
          description: Resource 'AzureCredentialResource' update operation succeeded
          schema:
            $ref: '#/definitions/AzureCredentialResource'
        '201':
          description: Resource 'AzureCredentialResource' create operation succeeded
          schema:
            $ref: '#/definitions/AzureCredentialResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Create or update an Azure Service Principal credential:
          $ref: ./examples/AzureCredential_ServicePrincipal_CreateOrUpdate.json
        Create or update an Azure Workload Identity credential:
          $ref: ./examples/AzureCredential_WorkloadIdentity_CreateOrUpdate.json
    patch:
      operationId: AzureCredentials_Update
      tags:
      - AzureCredentials
      description: Update an Azure credential
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/parameters/AzurePlaneNameParameter'
      - name: credentialName
        in: path
        description: The Azure credential name.
        required: true
        type: string
        maxLength: 63
        pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      - name: properties
        in: body
        description: The resource properties to be updated.
        required: true
        schema:
          $ref: '#/definitions/AzureCredentialResourceTagsUpdate'
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/AzureCredentialResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Update an Azure Service Principal credential:
          $ref: ./examples/AzureCredential_ServicePrincipal_Update.json
        Update an Azure Workload Identity credential:
          $ref: ./examples/AzureCredential_WorkloadIdentity_Update.json
    delete:
      operationId: AzureCredentials_Delete
      tags:
      - AzureCredentials
      description: Delete an Azure credential
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/parameters/AzurePlaneNameParameter'
      - name: credentialName
        in: path
        description: The Azure credential name.
        required: true
        type: string
        maxLength: 63
        pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          schema:
            $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Delete an Azure Service Principal credential:
          $ref: ./examples/AzureCredential_ServicePrincipal_Delete.json
        Delete an Azure Workload Identity credential:
          $ref: ./examples/AzureCredential_WorkloadIdentity_Delete.json
definitions:
  AzureCredentialResourceTagsUpdate:
    type: object
    description: The type used for updating tags in AzureCredentialResource resources.
    properties:
      tags:
        type: object
        description: Resource tags.
        additionalProperties:
          type: string
  AzureCredentialKind:
    type: string
    description: Azure credential kinds supported.
    enum:
    - ServicePrincipal
    - WorkloadIdentity
    x-ms-enum:
      name: AzureCredentialKind
      modelAsString: false
      values:
      - name: ServicePrincipal
        value: ServicePrincipal
        description: The Service Principal Credential
      - name: WorkloadIdentity
        value: WorkloadIdentity
        description: The Workload Identity Credential
  ProvisioningState:
    type: string
    description: Provisioning state of the resource at the time the operation was called
    enum:
    - Creating
    - Updating
    - Deleting
    - Accepted
    - Provisioning
    - Succeeded
    - Failed
    - Canceled
    x-ms-enum:
      name: ProvisioningState
      modelAsString: false
      values:
      - name: Creating
        value: Creating
        description: The resource is being created
      - name: Updating
        value: Updating
        description: The resource is being updated
      - name: Deleting
        value: Deleting
        description: The resource is being deleted
      - name: Accepted
        value: Accepted
        description: The resource create request has been accepted
      - name: Provisioning
        value: Provisioning
        description: The resource is being provisioned
      - name: Succeeded
        value: Succeeded
        description: The resource has been successfully provisioned
      - name: Failed
        value: Failed
        description: The resource provisioning has failed
      - name: Canceled
        value: Canceled
        description: The resource provisioning has been canceled
    readOnly: true
  AzureCredentialResource:
    type: object
    description: Represents Azure Credential Resource
    properties:
      properties:
        $ref: '#/definitions/AzureCredentialProperties'
        description: The resource-specific properties for this resource.
        x-ms-client-flatten: true
        x-ms-mutability:
        - read
        - create
    required:
    - properties
    allOf:
    - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
  AzureCredentialProperties:
    type: object
    description: The base properties of Azure Credential
    properties:
      kind:
        $ref: '#/definitions/AzureCredentialKind'
        description: The kind of Azure credential
      provisioningState:
        $ref: '#/definitions/ProvisioningState'
        description: The status of the asynchronous operation.
        readOnly: true
    discriminator: kind
    required:
    - kind
  AzureCredentialResourceListResult:
    type: object
    description: The response of a AzureCredentialResource list operation.
    properties:
      value:
        type: array
        description: The AzureCredentialResource items on this page
        items:
          $ref: '#/definitions/AzureCredentialResource'
      nextLink:
        type: string
        format: uri
        description: The link to the next page of items
    required:
    - value
parameters:
  AzurePlaneNameParameter:
    name: planeName
    in: path
    description: The name of the plane
    required: true
    type: string
    maxLength: 63
    pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
securityDefinitions:
  azure_auth:
    type: oauth2
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    scopes:
      user_impersonation: impersonate your user account
