openapi: 3.2.0
info:
  title: Universal Control Plane Resource Management Resources API
  version: 2023-10-01-preview
  description: REST APIs for Universal Control Plane
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Resources
paths:
  /planes/radius/{planeName}/resourcegroups/{resourceGroupName}/resources:
    get:
      operationId: Resources_List
      tags:
      - Resources
      description: List resources in a resource group
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - name: planeName
        in: path
        description: The plane name.
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      - name: resourceGroupName
        in: path
        description: The name of resource group
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        List resources in a resource group.:
          $ref: ./examples/Resources_List.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Resources list
      x-summary-source: derived
components:
  schemas:
    ResourceNameString:
      type: string
      description: The resource name
      maxLength: 63
      pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
    ResourceProperties:
      type: object
      description: The resource properties
    GenericResource:
      type: object
      description: Represents resource data.
      properties:
        name:
          $ref: '#/components/schemas/ResourceNameString'
          description: The name of resource
          readOnly: true
      required:
      - name
      allOf:
      - type: object
        description: Concrete proxy resource types can be created by aliasing this type using a specific property type.
        properties:
          properties:
            $ref: '#/components/schemas/ResourceProperties'
            description: The resource-specific properties for this resource.
        allOf:
        - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    GenericResourceListResult:
      type: object
      description: The response of a GenericResource list operation.
      properties:
        value:
          type: array
          description: The GenericResource items on this page
          items:
            $ref: '#/components/schemas/GenericResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
