openapi: 3.2.0
info:
  title: Universal Control Plane Resource Management Locations API
  version: 2023-10-01-preview
  description: REST APIs for Universal Control Plane
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Locations
paths:
  /planes/radius/{planeName}/providers/System.Resources/resourceproviders/{resourceProviderName}/locations:
    get:
      operationId: Locations_List
      tags:
      - Locations
      description: List available locations for the specified resource provider.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - name: planeName
        in: path
        description: The plane name.
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      - name: resourceProviderName
        in: path
        description: 'The resource provider name. This is also the resource provider namespace. Example: ''Applications.Datastores''.'
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))\.([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))?$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        List locations supported by a resource provider.:
          $ref: ./examples/Locations_List.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Locations list
      x-summary-source: derived
  /planes/radius/{planeName}/providers/System.Resources/resourceproviders/{resourceProviderName}/locations/{locationName}:
    get:
      operationId: Locations_Get
      tags:
      - Locations
      description: Get the specified location. The location resource represents a logical location where the resource provider operates.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - name: planeName
        in: path
        description: The plane name.
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      - name: resourceProviderName
        in: path
        description: 'The resource provider name. This is also the resource provider namespace. Example: ''Applications.Datastores''.'
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))\.([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))?$
      - name: locationName
        in: path
        description: The location name.
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z][A-Za-z0-9]*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Gets a location supported by a resource provider.:
          $ref: ./examples/Locations_Get.json
      summary: Locations get
      x-summary-source: derived
    put:
      operationId: Locations_CreateOrUpdate
      tags:
      - Locations
      description: Create or update a location. The location resource represents a logical location where the resource provider operates.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - name: planeName
        in: path
        description: The plane name.
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      - name: resourceProviderName
        in: path
        description: 'The resource provider name. This is also the resource provider namespace. Example: ''Applications.Datastores''.'
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))\.([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))?$
      - name: locationName
        in: path
        description: The location name.
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z][A-Za-z0-9]*$
      responses:
        '200':
          description: Resource 'LocationResource' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationResource'
        '201':
          description: Resource 'LocationResource' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Create or update a location supported by a resource provider.:
          $ref: ./examples/Locations_CreateOrUpdate.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationResource'
        description: Resource create parameters.
        required: true
      summary: Locations create or update
      x-summary-source: derived
    delete:
      operationId: Locations_Delete
      tags:
      - Locations
      description: Delete a location. The location resource represents a logical location where the resource provider operates.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - name: planeName
        in: path
        description: The plane name.
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])?$
      - name: resourceProviderName
        in: path
        description: 'The resource provider name. This is also the resource provider namespace. Example: ''Applications.Datastores''.'
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))\.([A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9]))?$
      - name: locationName
        in: path
        description: The location name.
        required: true
        schema:
          type: string
          maxLength: 63
          pattern: ^[A-Za-z][A-Za-z0-9]*$
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Delete a location supported by a resource provider.:
          $ref: ./examples/Locations_Delete.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Locations delete
      x-summary-source: derived
components:
  schemas:
    ProvisioningState:
      type: string
      description: Provisioning state of the resource at the time the operation was called
      enum:
      - Creating
      - Updating
      - Deleting
      - Accepted
      - Provisioning
      - Succeeded
      - Failed
      - Canceled
      x-ms-enum:
        name: ProvisioningState
        modelAsString: false
        values:
        - name: Creating
          value: Creating
          description: The resource is being created
        - name: Updating
          value: Updating
          description: The resource is being updated
        - name: Deleting
          value: Deleting
          description: The resource is being deleted
        - name: Accepted
          value: Accepted
          description: The resource create request has been accepted
        - name: Provisioning
          value: Provisioning
          description: The resource is being provisioned
        - name: Succeeded
          value: Succeeded
          description: The resource has been successfully provisioned
        - name: Failed
          value: Failed
          description: The resource provisioning has failed
        - name: Canceled
          value: Canceled
          description: The resource provisioning has been canceled
      readOnly: true
    LocationProperties:
      type: object
      description: The properties of a location.
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the asynchronous operation.
          readOnly: true
        address:
          type: string
          description: Address of a resource provider implementation.
        resourceTypes:
          type: object
          description: Configuration for resource types supported by the location.
          additionalProperties:
            $ref: '#/components/schemas/LocationResourceType'
    LocationResourceTypeApiVersion:
      type: object
      description: The configuration for an API version of an resource type.
    LocationResourceListResult:
      type: object
      description: The response of a LocationResource list operation.
      properties:
        value:
          type: array
          description: The LocationResource items on this page
          items:
            $ref: '#/components/schemas/LocationResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    LocationResource:
      type: object
      description: The resource type for defining a location of the containing resource provider. The location resource represents a logical location where the resource provider operates.
      properties:
        properties:
          $ref: '#/components/schemas/LocationProperties'
          description: The resource-specific properties for this resource.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    LocationResourceType:
      type: object
      description: The configuration for a resource type in a specific location.
      properties:
        apiVersions:
          type: object
          description: The configuration for API versions of a resource type supported by the location.
          additionalProperties:
            $ref: '#/components/schemas/LocationResourceTypeApiVersion'
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
